.container {
  place-items: center;
  background-color: #f4eeee;
  position: absolute;
  width: 100%;
  left: 0;
}
.subContainer {
  display: flex;
  justify-content: center;
  max-width: 42rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  gap: 1rem;
}
