.wrapper {
  background-color: #ededed;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.toggleWrapper {
  background-color: black;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.headerContent {
  max-width: 42rem;
  padding: 1rem 1rem;
  margin: 0 auto;
}
.headerTitleLink {
  color: black;
  text-decoration: none;
}
.heading {
  padding: 0;
  margin: 0;
}
.ulHeader {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline: 0rem;
  max-width: 42rem;
  margin-inline: auto;
  gap: 1rem;
  margin-bottom: 0rem;
}
.active {
  color: black;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: #9c9b98;
}

.ulHeader::-webkit-scrollbar {
  display: none;
}
