.heading {
  display: flex;
  padding: 0.5rem 0rem 0rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.container {
  min-height: calc(100vh - 150px);
}
.lists {
  list-style: none;
}
.recipeLink {
  text-decoration: none;
}
